<a href="https://colab.research.google.com/github/sherlukeholme/bootcamp/blob/main/API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd

sw = []
# loop api 10 species starwar
for i in range(10):
    url = f"https://swapi.info/api/species/{i+1}"
    response = requests.get(url)
    response_json = response.json()
    data = [response_json["name"],
            response_json["designation"],
            response_json["classification"],
            response_json["average_height"],
            response_json["average_lifespan"]]
    sw.append(data)

# create dataframe for response_json
starwars = pd.DataFrame(sw, columns = ["name", "designation", "classification", "average_height", "averrage_lifespan"])

In [ ]:
starwars

             name designation classification average_height averrage_lifespan
0           Human    sentient         mammal            180               120
1           Droid    sentient     artificial            n/a        indefinite
2          Wookie    sentient         mammal            210               400
3          Rodian   reptilian       sentient            170           unknown
4            Hutt    sentient      gastropod            300              1000
5  Yoda's species    sentient         mammal             66               900
6      Trandoshan    sentient        reptile            200           unknown
7    Mon Calamari    sentient      amphibian            160           unknown
8            Ewok    sentient         mammal            100           unknown
9       Sullustan    sentient         mammal            180           unknown